body{
  margin: 4rem;
}
.calculator{
  width: 400px;
  margin: auto;
}

.display{
  text-align: end;
  font-size: 2rem;
}
.buttons{
  display: flex;
  flex-wrap: wrap-reverse;
}

button{
  width: 98px;
  height: 50px;
  margin: 1px;
} 
.zero{
  width: 198px;
}
.operator, #equal{
  background-color: rgb(199, 199, 199);
}
.pressed{
  background-color: rgb(143, 143, 143);
}